.widget-box {
    padding: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 3px 0px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.widget-header {
    box-sizing: content-box;
    position: relative;
    min-height: 38px;
    background: linear-gradient(rgb(255, 255, 255) 0px, rgb(238, 238, 238) 100%) repeat-x rgb(247, 247, 247);
    color: rgb(102, 159, 199);
    border: 1px solid;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    padding-left: 12px;
    text-align: left;
}

.widget-header::before, .widget-header::after {
    content: '';
    display: table;
    line-height: 0;
}

.widget-header::after {
    clear: right;
}
.widget-header::before, .widget-header::after {
    content: '';
    display: table;
    line-height: 0;
}

.widget-header > .widget-caption, .widget-header > :first-child {
    line-height: 36px;
    padding: 0px;
    margin: 0px;
    display: inline;
}

h4 {
    font-size: 18px;
    font-weight: normal;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}


.widget-toolbar {
    display: inline-block;
    padding: 0px 10px;
    line-height: 37px;
    float: right;
    position: relative;
}

.widget-toolbar::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: -1px;
    border: solid rgb(217, 217, 217);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.widget-toolbar > [data-action="collapse"], .header-color-dark > .widget-toolbar > [data-action="collapse"] {
    color: rgb(170, 170, 170);
}
.widget-toolbar > a {
    font-size: 14px;
    margin: 0px 1px;
    display: inline-block;
    padding: 0px;
    line-height: 24px;
    text-decoration: none;
}

.widget-toolbar > [data-action="close"], .header-color-dark > .widget-toolbar > [data-action="close"] {
    color: rgb(224, 158, 150);
}

.widget-body {
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top: 0px;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}

.widget-main {
    padding: 12px;
}

.router {
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 230px;
    height: 180px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6b6365;
    padding: 15px;
    margin: 15px;
    border-radius: 4px 4px 4px 4px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 12px #000000;
    list-style-type: none;
    float: left;
    cursor: pointer !important;
    font-size: large;
}

.router:hover{
    background-color: #fff;
    width: 230px;
    height: 180px;
    font-family: Arial, Helvetica, sans-serif;
    color: #dc0067;
    padding: 15px;
    margin: 15px;
    border-radius: 4px 4px 4px 4px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 12px #000000;
    list-style-type: none;
    float: left;
    cursor: pointer !important;
}

.vendor {
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 140px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6b6365;
    padding: 15px;
    padding-top: 50px;
    margin: 15px;
    border-radius: 4px 4px 4px 4px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 12px #000000;
    list-style-type: none;
    float: left;
    cursor: pointer !important;
    font-size: large;
}

.vendor:hover{
    background-color: #fff;
    width: 150px;
    height: 140px;
    font-family: Arial, Helvetica, sans-serif;
    color: #dc0067;
    padding: 15px;
    padding-top: 50px;
    margin: 15px;
    border-radius: 4px 4px 4px 4px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 12px #000000;
    list-style-type: none;
    float: left;
    cursor: pointer !important;
}

.center {
    margin: 0 auto;
}

.modell-CPE210-V10-ALLE{
    background-image: url('../img/router/TP-LINK/TP_LINK_CPE210.jpg');
}
.modell-CPE220-V10-ALLE{
   /* background-image: url('../img/router/TP-LINK');*/
}
.modell-CPE510-V10-ALLE{
    background-image: url('../img/router/TP-LINK/TP_LINK_CPE510.jpg');
}
.modell-CPE520-V10-ALLE{
    background-image: url('../img/router/TP-LINK/TP_LINK_CPE520.jpg');
}
.modell-MR3020-V1{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-MR3020.jpg');
}
.modell-MR3040-V1{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-MR3040.jpg');
}
.modell-MR3040-V2{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-MR3040.jpg');
}
.modell-MR3220-V1{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-MR3220.jpg');
}
.modell-MR3420-V1{
    /*background-image: url('../img/router/TP-LINK');*/
}
.modell-MR3420-V2{
    /*background-image: url('../img/router/TP-LINK');*/
}
.modell-WA750RE-V1{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WA750RE.jpg');
}
.modell-WA801N-V2{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WA801ND_2.0.jpg');
}
.modell-WA801ND-V2{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WA801ND_2.0.jpg');
}
.modell-WA850RE-V1{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WA850RE_1.0.jpg');
}
.modell-WA90N-V2{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WA901ND.jpg');
}
.modell-WA90ND-V2{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WA901ND.jpg');
}
.modell-WDR3500-V1{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WDR3500_1.0.jpg');
}
.modell-WDR3600-V1{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WDR3600_1.0.jpg');
}
.modell-WDR4300-V1{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WDR4300_1.0.jpg');
}
.modell-WR1043N-V1{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WR1043ND_1.0.jpg');
}
.modell-WR1043N-V2{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WR1043ND_2.0.jpg');
}
.modell-WR1043ND-V1{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WR1043ND_1.0.jpg');
}
.modell-WR1043ND-V2{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WR1043ND_2.0.jpg');
}
.modell-WR703N-V1{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WR703N.jpg');
}
.modell-WR710N-V1{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WR710N(EU)1.0.jpg');
}
.modell-WR740N-V1{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WR740N.jpg');
}
.modell-WR740N-V2{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WR740N.jpg');
}
.modell-WR740N-V3{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WR740N.jpg');
}
.modell-WR740N-V4{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WR740N.jpg');
}
.modell-WR741ND-V1{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WR741ND.jpg');
}
.modell-WR741ND-V2{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WR741ND.jpg');
}
.modell-WR741ND-V3{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WR741ND.jpg');
}
.modell-WR741ND-V4{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WR741ND.jpg');
}
.modell-WR841N-V1{
    background-image: url('../img/router/TP-LINK/TP_LINK_TP-WR841N.jpg');
}
.modell-WR841N-V2{
    background-image: url('../img/router/TP-LINK/TP_LINK_TP-WR841N.jpg');
}
.modell-WR841N-V3{
    background-image: url('../img/router/TP-LINK/TP_LINK_TP-WR841N.jpg');
}
.modell-WR841N-V5{
    background-image: url('../img/router/TP-LINK/TP_LINK_TP-WR841N.jpg');
}
.modell-WR841N-V7{
    background-image: url('../img/router/TP-LINK/TP_LINK_TP-WR841N.jpg');
}
.modell-WR841N-V8{
    background-image: url('../img/router/TP-LINK/TP_LINK_TP-WR841N.jpg');
}
.modell-WR841N-V9{
    background-image: url('../img/router/TP-LINK/TP_LINK_TP-WR841N.jpg');
}
.modell-WR841ND-V1{
    background-image: url('../img/router/TP-LINK/TP_LINK_TP-WR841N.jpg');
}
.modell-WR841ND-V2{
    background-image: url('../img/router/TP-LINK/TP_LINK_TP-WR841N.jpg');
}
.modell-WR841ND-V3{
    background-image: url('../img/router/TP-LINK/TP_LINK_TP-WR841N.jpg');
}
.modell-WR841ND-V5{
    background-image: url('../img/router/TP-LINK/TP_LINK_TP-WR841N.jpg');
}
.modell-WR841ND-V7{
    background-image: url('../img/router/TP-LINK/TP_LINK_TP-WR841N.jpg');
}
.modell-WR841ND-V8{
    background-image: url('../img/router/TP-LINK/TP_LINK_TP-WR841N.jpg');
}
.modell-WR841ND-V9{
    background-image: url('../img/router/TP-LINK/TP_LINK_TP-WR841N.jpg');
}
.modell-WR941N-V2{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WR941ND.jpg');
}
.modell-WR941N-V3{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WR941ND.jpg');
}
.modell-WR941N-V4{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WR941ND.jpg');
}
.modell-WR941ND-V2{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WR941ND.jpg');
}
.modell-WR941ND-V3{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WR941ND.jpg');
}
.modell-WR941ND-V4{
    background-image: url('../img/router/TP-LINK/TP_LINK_TL-WR941ND.jpg');
}