.widget-box {
    padding: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 3px 0px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.widget-header {
    box-sizing: content-box;
    position: relative;
    min-height: 38px;
    background: linear-gradient(rgb(255, 255, 255) 0px, rgb(238, 238, 238) 100%) repeat-x rgb(247, 247, 247);
    color: rgb(102, 159, 199);
    border: 1px solid;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    padding-left: 12px;
    text-align: left;
}

.widget-header::before, .widget-header::after {
    content: '';
    display: table;
    line-height: 0;
}

.widget-header::after {
    clear: right;
}
.widget-header::before, .widget-header::after {
    content: '';
    display: table;
    line-height: 0;
}

.widget-header > .widget-caption, .widget-header > :first-child {
    line-height: 36px;
    padding: 0px;
    margin: 0px;
    display: inline;
}

h4 {
    font-size: 18px;
    font-weight: normal;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}


.widget-toolbar {
    display: inline-block;
    padding: 0px 10px;
    line-height: 37px;
    float: right;
    position: relative;
}

.widget-toolbar::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: -1px;
    border: solid rgb(217, 217, 217);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.widget-toolbar > [data-action="collapse"], .header-color-dark > .widget-toolbar > [data-action="collapse"] {
    color: rgb(170, 170, 170);
}
.widget-toolbar > a {
    font-size: 14px;
    margin: 0px 1px;
    display: inline-block;
    padding: 0px;
    line-height: 24px;
    text-decoration: none;
}

.widget-toolbar > [data-action="close"], .header-color-dark > .widget-toolbar > [data-action="close"] {
    color: rgb(224, 158, 150);
}

.widget-body {
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top: 0px;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}

.widget-main {
    padding: 12px;
}

.router {
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 230px;
    height: 180px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6b6365;
    padding: 15px;
    margin: 15px;
    border-radius: 4px 4px 4px 4px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 12px #000000;
    list-style-type: none;
    float: left;
    cursor: pointer !important;
    font-size: large;
}

.router:hover{
    background-color: #fff;
    width: 230px;
    height: 180px;
    font-family: Arial, Helvetica, sans-serif;
    color: #dc0067;
    padding: 15px;
    margin: 15px;
    border-radius: 4px 4px 4px 4px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 12px #000000;
    list-style-type: none;
    float: left;
    cursor: pointer !important;
}

.vendor {
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 140px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6b6365;
    padding: 15px;
    padding-top: 50px;
    margin: 15px;
    border-radius: 4px 4px 4px 4px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 12px #000000;
    list-style-type: none;
    float: left;
    cursor: pointer !important;
    font-size: large;
}

.vendor:hover{
    background-color: #fff;
    width: 150px;
    height: 140px;
    font-family: Arial, Helvetica, sans-serif;
    color: #dc0067;
    padding: 15px;
    padding-top: 50px;
    margin: 15px;
    border-radius: 4px 4px 4px 4px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 12px #000000;
    list-style-type: none;
    float: left;
    cursor: pointer !important;
}

.center {
    margin: 0 auto;
}

/*
.modell-WR84N-V1 {
    background-image:url('http://i.istockimg.com/file_thumbview_approve/40670750/6/stock-illustration-40670750-wlan-router-drawing.jpg');
}*/
.modell-WZR-HP-AG300H-WZR-600DHP-ALLE{
    background-image: url('../img/router/WZR-HP-AG300H-WZR-600DHP/router.jpg');
}
.modell-WZR-HP-G450H-ALLE{
    background-image: url('../img/router/WZR-HP-G450H-ALLE/wzr-hp-g450h_o1.jpg');
}
.modell-DIR-825-REV-B1-ALLE{
    background-image: url('../img/router/DIR-825-REV-B1-ALLE/DIR%20825%20Front.png');
}
.modell-CPE210-V10-ALLE{
    background-image: url('../img/router/CPE210-V10-ALLE/TP_LINK_CPE210.jpg');
}
.modell-CPE220-V10-ALLE{
   /* background-image: url('../img/router/');*/
}

.modell-CPE510-V10-ALLE{
    background-image: url('../img/router/CPE510-V10-ALLE/router2.jpg');
}
.modell-CPE520-V10-ALLE{
    background-image: url('../img/router/CPE520-V10-ALLE/router.jpg');
}
.modell-MR3020-V1{
    background-image: url('../img/router/MR3020/TL-MR3020-V1.jpg');
}
.modell-MR3040-V1{
    background-image: url('../img/router/MR3040/TL-MR3040.jpg');
}
.modell-MR3040-V2{
    background-image: url('../img/router/MR3040/TL-MR3040.jpg');
}
.modell-MR3220-V1{
    background-image: url('../img/router/MR3220-V1/router.jpg');
}
.modell-MR3420-V1{
    background-image: url('../img/router/MR3420-V1/tp-link_tl-mr3220_front.jpg');
}
.modell-MR3420-V2{
    background-image: url('../img/router/MR3420-V2/TL-MR3220_2.0-02.jpg');
}
.modell-WA750RE-V1{
    background-image: url('../img/router/WA750RE-V1/TL-WA750RE.jpg');
}
.modell-WA80N-V2{
    background-image: url('../img/router/WA801ND-V2/TL-WA801ND_2.0.jpg');
}
.modell-WA80ND-V2{
    background-image: url('../img/router/WA801ND-V2/TL-WA801ND_2.0.jpg');
}
.modell-WA850RE-V1{
    background-image: url('../img/router/WA850RE-V1/TL-WA850RE_1.0.jpg');
}
.modell-WA90N-V2{
    background-image: url('../img/router/WA901ND-V2/TL-WA901ND1.jpg');
}
.modell-WA90ND-V2{
    background-image: url('../img/router/WA901ND-V2/TL-WA901ND1.jpg');
}
.modell-WDR3500-V1{
    background-image: url('../img/router/WDR3500-V1/TL-WDR3500_1.0-P1.jpg');
}
.modell-WDR3600-V1{
    background-image: url('../img/router/WDR3600-V1/TL-WDR3600-UN-V1-P1.jpg');
}
.modell-WDR4300-V1{
    background-image: url('../img/router/WDR4300-V1/TL-WDR4300-01-web.jpg');
}
.modell-WR104N-V1{
    background-image: url('../img/router/WR1043N-V1/image775_3ec9f.jpg');
}
.modell-WR104N-V2{
    background-image: url('../img/router/WR1043ND-V2/5-1043-v2.jpg');
}
.modell-WR104ND-V1{
    background-image: url('../img/router/WR1043ND-V1/TL-WR1043ND.jpg');
}
.modell-WR104ND-V2{
    background-image: url('../img/router/WR1043ND-V2/5-1043-v2.jpg');
}
.modell-WR703N-V1{
    background-image: url('../img/router/WR703N-V1/tl-wr703n.jpg');
}
.modell-WR710N-V1{
    background-image: url('../img/router/WR710N-V1/TL-WR710N(EU)1.0_15.jpg');
}
.modell-WR74N-V1{
    background-image: url('../img/router/WR740N/TL-WR740N-05.jpg');
}
.modell-WR74N-V2{
    background-image: url('../img/router/WR740N/TL-WR740N-05.jpg');
}
.modell-WR74N-V3{
    background-image: url('../img/router/WR740N/TL-WR740N-05.jpg');
}
.modell-WR74N-V4{
    background-image: url('../img/router/WR740N/TL-WR740N-05.jpg');
}
.modell-WR74ND-V1{
    background-image: url('../img/router/WR741ND/TL-WR741ND-05.jpg');
}
.modell-WR74ND-V2{
    background-image: url('../img/router/WR741ND/TL-WR741ND-05.jpg');
}
.modell-WR74ND-V3{
    background-image: url('../img/router/WR741ND/TL-WR741ND-05.jpg');
}
.modell-WR74ND-V4{
    background-image: url('../img/router/WR741ND/TL-WR741ND-05.jpg');
}
.modell-WR84N-V1{
    background-image: url('../img/router/WR841N/841N-1280_6).jpg');
}
.modell-WR84N-V2{
    background-image: url('../img/router/WR841N/841N-1280_6).jpg');
}
.modell-WR84N-V3{
    background-image: url('../img/router/WR841N/841N-1280_6).jpg');
}
.modell-WR84N-V5{
    background-image: url('../img/router/WR841N/841N-1280_6).jpg');
}
.modell-WR84N-V7{
    background-image: url('../img/router/WR841N/841N-1280_6).jpg');
}
.modell-WR84N-V8{
    background-image: url('../img/router/WR841N/841N-1280_6).jpg');
}
.modell-WR84N-V9{
    background-image: url('../img/router/WR841N/841N-1280_6).jpg');
}
.modell-WR84ND-V1{
    background-image: url('../img/router/WR841N/841N-1280_6).jpg');
}
.modell-WR84ND-V2{
    background-image: url('../img/router/WR841N/841N-1280_6).jpg');
}
.modell-WR84ND-V3{
    background-image: url('../img/router/WR841N/841N-1280_6).jpg');
}
.modell-WR84ND-V5{
    background-image: url('../img/router/WR841N/841N-1280_6).jpg');
}
.modell-WR84ND-V7{
    background-image: url('../img/router/WR841N/841N-1280_6).jpg');
}
.modell-WR84ND-V8{
    background-image: url('../img/router/WR841N/841N-1280_6).jpg');
}
.modell-WR84ND-V9{
    background-image: url('../img/router/WR841N/841N-1280_6).jpg');
}
.modell-WR94N-V2{
    background-image: url('../img/router/WR941ND/TL-WR941ND(UN_6.0-02-1280.jpg');
}
.modell-WR94N-V3{
    background-image: url('../img/router/WR941ND/TL-WR941ND(UN_6.0-02-1280.jpg');
}
.modell-WR94N-V4{
    background-image: url('../img/router/WR941ND/TL-WR941ND(UN_6.0-02-1280.jpg');
}
.modell-WR94ND-V2{
    background-image: url('../img/router/WR941ND/TL-WR941ND(UN_6.0-02-1280.jpg');
}
.modell-WR94ND-V3{
    background-image: url('../img/router/WR941ND/TL-WR941ND(UN_6.0-02-1280.jpg');
}
.modell-WR94ND-V4{
    background-image: url('../img/router/WR941ND/TL-WR941ND(UN_6.0-02-1280.jpg');
}
.modell-BULLET-M-ALLE{
    background-image: url('../img/router/BULLET-M-ALLE/press_bullet.jpg');
}
.modell-NANOSTATION-M-ALLE{
    background-image: url('../img/router/NANOSTATION-M-ALLE/ns-m5-01.jpg');
}
.modell-UNIFI-ALLE{
    background-image: url('../img/router/UNIFI-ALLE/ubiquiti_uap_1-461x461.jpg');
}
.modell-UNIFIAP-OUTDOOR-ALLE{
    background-image: url('../img/router/UNIFIAP-OUTDOOR-ALLE/router.jpg');
}